#brand-bar {
  background: #f2f2f2;
  margin: 0;
  padding: 0;
  border-bottom: #00adef solid 4px !important;
  height: 41px;
  min-height: inherit;
}
#brand-bar .brandbar-header {
  padding-top: 10px;
}
#brand-bar .brandbar-header a {
  padding: 0;
  font-size: 12.35px;
  line-height: 17.03px;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: black;
}
#brand-bar .brandbar-header a.navbar-brand:before {
  font-family: FontAwesome;
  color: black;
  content: "\f015";
  font-size: 18.07px;
  line-height: 0.9;
  margin-right: 7.8px;
  float: left;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#language-switcher {
  border-top: none;
  padding: 0;
  float: right;
}
#language-switcher ul {
  list-style: none;
}
#language-switcher ul li {
  display: inline;
  margin-left: 13px;
}
#topBarArea {
  height: 80px;
}
img.topLogo {
  max-height: 62px;
}
img.unLogo {
  float: left;
}
img.sdgLogo {
  float: right;
}
.logoText {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  margin-top: -8px;
  float: left;
}
.sdText {
  color: #0a97d9;
  font-weight: 500;
  font-size: 32px;
  letter-spacing: -0.02em;
}
.sdSubText {
  color: #4d4d4d;
  font-size: 16px;
  letter-spacing: -0.02em;
}
body {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 1.46153846;
  color: #333333;
  background-color: white;
}
.language-switcher .language-title {
  float: right;
  margin-right: 10.4px;
  line-height: 1.2;
}
.language-switcher button.navbar-toggle span.icon-bar {
  background-color: #00adef;
}
.navbar-toggle {
  position: relative;
  float: right;
  margin: -10px 0 0 0;
  padding: 9px 10px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}
.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}
@media (max-width: 992px) {
  .sdText {
    font-size: 24px;
  }
  .sdSubText {
    font-size: 10px;
  }
  .logoText {
    margin: 0 0 0 2em;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important;
  }
}
