#brand-bar {
  background: #f2f2f2;
  margin: 0;
  padding: 0;
  border-bottom: #00adef solid 4px !important;
  height: 41px;
  min-height: inherit;
}
#brand-bar .brandbar-header {
  padding-top: 10px;
}
#brand-bar .brandbar-header a {
  padding: 0;
  font-size: 12.35px;
  line-height: 17.03px;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: black;
}
#brand-bar .brandbar-header a.navbar-brand:before {
  font-family: FontAwesome;
  color: black;
  content: "\f015";
  font-size: 18.07px;
  line-height: 0.9;
  margin-right: 7.8px;
  float: left;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#language-switcher {
  border-top: none;
  padding: 0;
  float: right;
}
#language-switcher ul {
  list-style: none;
}
#language-switcher ul li {
  display: inline;
  margin-right: 13px;
}
body {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 1.46153846;
  color: #333333;
  background-color: white;
}
