//variables
@gray-topfooter: 	#f2f2f2;
@blue-primary: 		#00adef;

//un bar
#brand-bar {
    background: @gray-topfooter;
    margin: 0;
    padding: 0;
    border-bottom: @blue-primary solid 4px !important;
    height: 41px;
    min-height: inherit;

    .brandbar-header{
    	padding-top: 10px;

    	a{
    		padding: 0;
		    font-size: 12.35px;
		    line-height: 17.03px;
		    font-weight: 400;
		    letter-spacing: 0.03em;
		    color: black;
    	}
    }
}

#brand-bar .brandbar-header a.navbar-brand:before {
    font-family: FontAwesome;
    color: black;
    content: "\f015";
    font-size: 18.07px;
    line-height: 0.9;
    margin-right: 7.8px;
    float: left;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#language-switcher {
	border-top: none;
	padding: 0;
	float: right;
	ul{
		list-style: none;
		li{
			display: inline;
			margin-left: 13px;
		}
	}
}

//top banner
#topBarArea {
    height: 80px;
}

img.topLogo{
    max-height: 62px;
}

img.unLogo {
    float: left;
}

img.sdgLogo {
    float: right;
}

.logoText {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    margin-top: -8px;
}

.sdText {
    color: #0a97d9;
    font-weight: 500;
    font-size: 32px;
    letter-spacing: -0.02em;
}

.sdSubText {
    color: #4d4d4d;
    font-size: 16px;
    letter-spacing: -0.02em;
}
//main.less
body {
    font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    line-height: 1.46153846;
    color: #333333;
    background-color: white;
}


